section#aura.aura
	.container
		h2.aura__title.section-title Атмосфера нашей студии
		.aura__wrapper.d-flex
			.aura__content
				p.aura__subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturientontes nascetur ridiculus mus.  magnis dis parturient ontes nascetur ridiculus mus.
				button.aura__btn.btn.popap-call(data-title="получить консультацию") получить консультацию
			a(href="dist/video/Armin van Buuren feat. Josh Cumbee - Sunny Days (Official Music Video).mp4" data-fslightbox="video").aura__video
				img(src="dist/assets/img/video.jpg" alt="Видео о студии Массажа Relax Paradise")
		ul.aura__gallery.d-flex
			li
				a(href="dist/assets/img/aura_img1big.jpeg" data-fslightbox="gallery")
					img(src="dist/assets/img/aura_img1.jpg" alt="Фото студии")
			li
				a(href="dist/assets/img/aura_big2.jpeg" data-fslightbox="gallery")
					img(src="dist/assets/img/aura_img2.jpg" alt="Фото студии")
			li
				a(href="dist/assets/img/aura_big3.jpeg" data-fslightbox="gallery")
					img(src="dist/assets/img/aura_img3.jpg" alt="Фото студии")
			li
				a(href="dist/assets/img/aura_big4.jpeg" data-fslightbox="gallery")
					img(src="dist/assets/img/aura_img4.jpg" alt="Фото студии")
			li
				a(href="dist/assets/img/aura_big5.jpeg" data-fslightbox="gallery")
					img(src="dist/assets/img/aura_img5.jpg" alt="Фото студии")
			li
				a(href="dist/assets/img/aura_big6.jpeg" data-fslightbox="gallery")
					img(src="dist/assets/img/aura_img6.jpg" alt="Фото студи")