section#contacts.contacts
	.container
		h2.contacts__title.section-title Наши Контакты
		.contacts__content
			#map
			.contacts__info
				address.contacts__address.address
					p.address__title Relax Paradise
					p.address__local <span>Одесса</span> <span>ул.Канатная, 81</span> внутри двора, цокольный этаж с&nbsp;красивой кованной дверью
					p.address__phone
						span Наберите нас и мы Вас встретим:
						a(href="tel:+380996430131") +380 (99) 643 01 31
					p.address__social
						span Не забудьте подписаться:
						span.address__icon-wrapper
							a(href="https://www.instagram.com/relax_paradise_com/?hl=ru" target="_blank").address__social_insta
								include ../../svg/instagram.pug
							a(href="https://www.facebook.com/RelaxParadise.massage.studio" target="_blank").address__social_fb
								include ../../svg/facebook.pug
					p.address__mail
						span Для предложений:
						a(href="mailto:info@relax-paradise.com") info@relax-paradise.com
