section.insta
	.container
		h2.insta__title.section-title
			| Мы в Инстаграм
			a(href="https://www.instagram.com/relax_paradise_com/?hl=ru", target="_blank") @relax_paradise_com
			//- p.insta__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore