section#privilege.privilege
	.container.d-flex
		.privilege__wrapper
			h2.privilege__title.section-title Почему relax&nbsp;paradise
			p.privilege__subtitle
				span Мы&nbsp;достигаем поставленных результатов благодаря авторским техникам массажа и&nbsp;детальной проработке каждого сантиметра.
				span Позаботься о&nbsp;себе сейчас!
		ul.privilege__list.d-flex
			li.privilege__item
			li.privilege__item
				span.privilege__icon
					include ../../svg/icon2.pug
				span Профессиональные массажисты
			li.privilege__item
				span.privilege__icon
					include ../../svg/icon1.pug
				span Качественные и&nbsp;натуральные средства и&nbsp;масла
			li.privilege__item
				span.privilege__icon
					include ../../svg/icon5.pug
				span Бонусная система для постоянных клиентов
			li.privilege__item
				span.privilege__icon
					include ../../svg/icon4.pug
				span Релаксирующая музыка, которая поможет расслабиться
			li.privilege__item
				span.privilege__icon
					include ../../svg/icon3.pug
				span Всем посетителям предлагаем ароматный чай