.swiper-wrapper {
	box-sizing: border-box;
}

.swiper-button-disabled {
	opacity: 0;
	cursor: default !important;
}
// *Временно потом удалить

.services__arrows {
	margin-left: auto;
}

.slider-main__descr {
	margin-bottom: auto;
}

.header__social {
	margin-top: auto;
}