footer.footer
	p © Студия массажа - "Relax paradise"
	.dmz.d-flex
		span Cайт разработан:
		a(href="https://dmzabelin.online" target="_blank")
			img(src="https://dmzabelin.online/dist/assets/img/logo-dm.zabelin.svg" alt="Developer Logo")