main.main
	include ./sections/privilege.pug
	include ./sections/action.pug
	include ./sections/aura.pug
	include ./sections/services.pug
	include ./sections/contacts.pug
	include ./sections/instagram.pug
